%container {
  width: 85vw;
  margin: 0 auto;
}

%button {
  background: transparent;
  border: 1px solid #333;
  padding: 10px 15px;
  border-radius: 5px;
  transition: $transition;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: #333;
  }
}

%card {
  padding: 1vw;
  border: 1px solid #333;
  border-radius: 5px;
}
